body {
  font-family: Arial, sans-serif;
  margin: 40px;
}

section {
  margin-bottom: 40px;
}

button {
  padding: 8px 14px;
  margin: 4px;
  cursor: pointer;
}

pre {
  background: #f4f4f4;
  padding: 10px;
  margin-top: 10px;
  width: fit-content;
}

table {
  border-collapse: collapse;
  width: 70%;
  margin-top: 15px;
}

th, td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #eaeaea;
}
